:root {
  --color-primary: #fff;
  --color-box-background: #121212;
  --color-current-item: #484848;
  --color-button-hover: #333333;
  --color-nav-search: #1f1f1f;
  --color-nav-search-hover: #2a2a2a;
  --color-profile-bg: #b49bc8;
  --color-play-btn: #1cc257;
}

* {
  margin: 0;
  padding: 0;
  color: var(--color-primary);
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Montserrat", sans-serif;
  user-select: none;
}

/* ScrollBar Customize */
::-webkit-scrollbar {
  width: 0rem;
}

#main-content::-webkit-scrollbar {
  width: 0.8rem;
}

*:hover::-webkit-scrollbar {
  width: 0.8rem;
  height: 0.8rem;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #4848489f;
  position: fixed;
  z-index: 10;
}

html,
body {
  height: 100%;
  width: 100%;
  background-color: black;
  overflow-x: hidden;
  overflow-y: hidden;
}

/* Main Container */
#main {
  padding: 0.5rem;
  overflow: visible;
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-rows: 3rem 1fr 4.5rem;
  grid-template-columns: 23% 1fr 23%;
  grid-gap: 0.5rem;
}

/* Navbar - Icon, Search Bar, User menu */
#navbar {
  box-sizing: border-box;
  grid-column: 1/4;
  display: flex;
  align-items: center;
  position: relative;
  justify-content: space-between;
}

#navbar a {
  text-decoration: none;
}

/* Spotify Logo */
#navbar > a img {
  width: 2.5rem;
  margin-left: 1.5vw;
}

/* Search Container*/
.search-bar {
  position: absolute;
  left: 32%;
  height: 100%;
  width: fit-content;
  display: flex;
  gap: 0.5rem;
}

/* Home */
#navbar .search-bar img {
  box-sizing: content-box;
  background-color: var(--color-nav-search);
  border: 10px solid var(--color-nav-search-hover);
  border-radius: 50%;
  width: 1.8rem;
  opacity: 0.7;
}

#navbar .search-bar img:hover {
  transform: scale(1.05);
  background-color: var(--color-nav-search-hover);
  border: 10px solid var(--color-nav-search-hover);
  opacity: 1;
}

/* Search Bar */
#search {
  background-color: var(--color-nav-search);
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  font-size: 1.6vw;
  padding: 0.2vw 1vw;
  gap: 7px;
}

#search span {
  color: #b3b3b354;
}

#search input {
  width: 26vw;
  height: 100%;
  background-color: var(--color-nav-search);
  border: none;
  color: #b3b3b3;
  font-weight: 500;
  letter-spacing: -0.01vw;
  font-size: 1.1vw;
}

#search:hover {
  border: 1px solid rgba(222, 222, 222, 0.1);
  background-color: #2a2a2a;
}

#search input::placeholder {
  color: #b3b3b3;
}

#search:hover input {
  background-color: #2a2a2a;
}

#search > i {
  color: #b3b3b3;
}

#search:focus-within {
  border-color: white;
}

#search input:focus {
  outline: none;
  border: none;
  color: white;
}

/* Scale and fade Animation */
.scale-item:hover {
  transform: scale(1.05);
}

.faded {
  opacity: 0.7;
}

.faded:hover {
  opacity: 1;
}

.nav-right {
  height: 100%;
  display: flex;
  color: white;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.nav-right .explore-premium {
  background-color: white;
  color: black;
  border-radius: 100vw;
  padding: 0.4rem 0.9rem;
  font-weight: 700;
  font-size: 0.85rem;
  letter-spacing: -0.01rem;
}

.install-app {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.4rem;
  font-size: 0.89rem;
  font-weight: 600;
  letter-spacing: -0.6px;
}

.install-app i {
  margin-top: 0.08rem;
  font-size: 1rem;
}

.install-app a {
  opacity: 0.7;
  display: flex;
  align-items: center;
}

.install-app a:hover {
  opacity: 1;
  transform: scale(1.05);
}

.nav-right .user-profile {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* User Profile */
.user-profile {
  box-sizing: content-box;
  width: 33.5px;
  height: 33.5px;
  background-color: var(--color-profile-bg);
  border: 8px solid #1f1f1f;
  font-weight: 600;
  color: black;
  border-radius: 50%;
}

.user-profile:hover {
  transform: scale(1.05);
}

/* Left Sidebar */
#left-sidebar {
  background-color: var(--color-box-background);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  grid-column: 1/2;
  grid-row: 2 / 3;
  overflow: hidden;
  height: 100%;
}

/* for + icon - rounded */
#full-circle {
  padding: 0.5rem;
}

/* Top Head */
.head {
  box-sizing: content-box;
  height: 2.25rem;
  padding: 1rem 1rem 0.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@keyframes identifier {
}

h3 {
  font-size: 1.09vw;
  display: flex;
}

/* 3 Buttons */
.head2 {
  margin: 0.5rem 1rem;
  display: flex;
  gap: 0.5vw;
}

.head a {
  padding: 0.2rem;
  height: 100%;
}

.head #no-circle {
  background-color: transparent;
}

.head2 a,
.head a,
.sticky-nav a {
  text-decoration: none;
  font-size: 0.9vw;
  background-color: #2a2a2a;
  font-weight: 500;
  letter-spacing: -0.03vw;
  padding: 0.6vw 1vw;
  border-radius: 25px;
}

.head2 a:hover {
  background-color: var(--color-current-item);
}

/* Scrollable Area */
.sdown {
  max-height: calc(100vh - 4rem);
  overflow-y: auto;
  width: 100%;
  padding: 0 0.5rem 0.5rem;
  overflow-x: hidden;
  overflow-y: overlay;
}

/* search and recents */
.sdown-head {
  display: flex;
  height: 2.2rem;
  align-items: center;
  justify-content: space-between;
  padding: 2px 8px 0;
  margin-bottom: 0.5rem;
}

.sdown-head > a {
  text-decoration: none;
  color: white;
  opacity: 0.7;
  padding: 0.5rem;
  height: 100%;
  width: fit-content;
}

.sdown-head > a:hover {
  opacity: 1;
  background-color: var(--color-nav-search-hover);
  border-radius: 50%;
  padding: 0.5rem;
}

.sdown .recents {
  display: flex;
  height: 100%;
  align-items: center;
  font-size: 0.8rem;
  gap: 0.3rem;
  color: white;
  opacity: 0.7;
}

.recents i {
  font-size: 1.1rem;
  opacity: 0.7;
  color: white;
}

.recents:hover {
  opacity: 1;
  transform: scale(1.05);
}

#left-sidebar .sdown .cards {
  width: 100%;
  height: 4rem;
}

#left-sidebar .sdown .songs-list {
  overflow-y: hidden;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.cards {
  border-radius: 0.5rem;
  cursor: pointer;
}

.cards:hover {
  background-color: #1f1f1f9f;
  opacity: 1;
}

#left-sidebar .cards > img {
  height: 3rem;
  width: 3rem;
}

.cards .info {
  line-height: 1vw;
}

.cards .title {
  font-size: 1vw;
}

#left-sidebar .cards .sub-title {
  font-size: 0.8rem;
}

/* Main Content */
#main-content {
  grid-row: 2/3;
  grid-column: 2/3;
  overflow-y: scroll;
  overflow-x: hidden;
  width: 100%;
  border-radius: 10px;
  position: relative;
  background-color: #121212;
}

#main-content::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 20rem;
  background: linear-gradient(to bottom, #7e88f94f 0%, #7e88f900 50%);
  pointer-events: none;
  z-index: 1;
}

.sticky-nav {
  position: sticky;
  display: flex;
  left: 0;
  top: 0;
  padding: 1rem 2.5rem;
  gap: 0.5rem;
  animation: change-background linear forwards;
  animation-timeline: scroll();
  animation-range: 0rem 1rem;
  z-index: 1000;
}

@keyframes change-background {
  from {
    background-color: transparent;
  }
  to {
    background-color: #26294aff;
    box-shadow: 0 2px 10px black;
    z-index: 1000;
  }
}

#main-content .sticky-nav > a {
  background-color: #ffffff1f;
}

#main-content .sticky-nav > a:hover {
  background-color: #ffffff4f;
}

/* Content Area */
.content {
  height: 3rem;
  padding: 0 2.5rem;
  display: flex;
  width: 100%;
  z-index: 1000;
  justify-content: space-evenly;
}

.content img {
  width: 3rem;
  height: 3rem;
  border-radius: 3px;
}

.highlights {
  display: flex;
  align-items: center;
  gap: 1rem;
  height: 3rem;
  background-color: #ffffff24;
  border-radius: 3px;
  flex: 1;
  margin-right: 1rem;
}

.highlights p {
  letter-spacing: -0.6px;
  font-weight: 600;
  font-size: 0.9rem;
}

/* Big Songs - Feed Cards */
.songs-cards {
  width: 100%;
  padding: 2rem 0.5rem 0 2.5rem;
  display: flex;
  overflow-y: hidden;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 1rem;
}

.lower {
  display: flex;
  width: 100%;
  height: fit-content;
  gap: 1rem;
  overflow-x: auto;
}

#main-content #all {
  background-color: white;
  color: black;
}

.upper {
  margin-left: 0.5rem;
  display: flex;
  gap: 0.5rem;
}

.upper img {
  width: 3rem;
  height: 3rem;
  border-radius: 0.2rem;
}

.upper .title {
  font-weight: 700;
  font-size: 1.5rem;
}

.upper .subtitle {
  font-weight: 400;
  font-size: 0.8rem;
  opacity: 0.7;
}

.lower::-webkit-scrollbar {
  height: 0;
}

.banner {
  width: 28%;
  flex-direction: column;
  display: flex;
  gap: 0.5rem;
  padding: 0.5rem;
  position: relative;
  height: fit-content;
}

.banner:hover {
  background-color: #ffffff13;
  border-radius: 7px;
}

.banner img {
  width: 10rem;
  border-radius: 0.4rem;
}

.banner h4 {
  width: 100%;
  font-size: 0.9rem;
  font-weight: 500;
}

.banner p {
  width: 100%;
  font-size: 0.8rem;
  font-weight: 400;
  opacity: 0.7;
}

#main-content .artist {
  font-size: 1rem;
  font-weight: 600;
}

.play-hover i {
  color: black;
  border-radius: 50%;
  background-color: var(--color-play-btn);
  padding: 1rem;
  width: 3rem;
  opacity: 0;
  position: absolute;
  right: 1rem;
  top: 42%;
}

.play-hover i:hover {
  opacity: 1;
  transform: scale(1.05) translateY(2px);
}

/* Horizontal Seprarator */
.footer {
  width: 93%;
  display: flex;
  justify-content: center;
  position: sticky;
  left: 6%;
  height: 2px;
  opacity: 0.1;
}

/* Multiple Spotify Links */
.footer-up {
  padding: 3rem 0.5rem 3rem 2.55rem;
  display: flex;
}

.links {
  flex: 1;
  display: flex;
  flex-direction: column;
  width: fit-content;
  padding-right: 1.7rem;
  height: fit-content;
  gap: 0.7rem;
  justify-content: space-evenly;
}

.links a {
  text-decoration: none;
  font-size: 0.94rem;
  opacity: 0.7;
  letter-spacing: -0.05px;
}

.links > a:hover {
  text-decoration: 1px solid underline;
  text-underline-offset: 0.1rem;
}

.footer-up .last {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

/* Main Footer - End */
footer .down {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.fleft {
  display: flex;
  gap: 1rem;
  font-size: 0.75rem;
  align-items: center;
}

.fleft a {
  text-decoration: none;
  font-weight: 500;
  opacity: 0.7;
}

.fleft a:hover {
  opacity: 1;
}

.fright {
  font-size: 0.8rem;
  opacity: 0.4;
}

.last i {
  gap: 1rem;
  height: 1rem;
  width: 1rem;
  padding: 0.5rem;
  font-size: 1rem;
  opacity: 0.7;
  box-sizing: content-box;
  background-color: var(--color-nav-search-hover);
  border-radius: 50%;
}

.last i:hover {
  opacity: 1;
}

/* Right Sidebar */
#right-sidebar {
  background: linear-gradient(
    to bottom,
    #f3c1751f,
    var(--color-box-background)
  );
  border-radius: 10px;
  grid-column: 3/4;
  grid-row: 2 / 3;
  display: flex;
  width: 100%;
  flex-direction: column;
  overflow: hidden;
  min-width: 0;
}

.head-right {
  display: flex;
  gap: 1.3rem;
  padding-right: 0.8rem;
}

.head-right i {
  font-size: 0.8rem;
  opacity: 0.7;
}

#right-sidebar .sdown {
  width: 100%;
  padding: 1rem;
  height: 100%;
}

/* hidden Scrollbar */
#right-sidebar .sdown::-webkit-scrollbar {
  width: 0;
}

/* current song banner */
#right-sidebar .sdown img {
  width: 100%;
  height: auto;
  border-radius: 0.6rem;
}

#right-sidebar .sdown a {
  text-decoration: none;
  font-size: 1rem;
}

#right-sidebar .sdown a:hover {
  text-decoration: 1px solid underline;
  text-underline-offset: 0.2rem;
}

#right-sidebar .info {
  margin: 1rem 0;
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.info-left {
  width: 80%;
  overflow: hidden;
  text-wrap: nowrap;
}

#right-sidebar .sdown .sub-title {
  overflow-x: auto;
  scrollbar-width: 0;
}

#right-sidebar .sdown .sub-title::-webkit-scrollbar {
  height: 0;
}

#right-sidebar .sdown .sub-title a {
  font-size: 0.9rem;
  opacity: 0.7;
}

#right-sidebar .info > i {
  opacity: 0.7;
}

#right-sidebar .info > i:hover {
  opacity: 1;
}

/* grey cards - more info & links */
.sub-cards {
  width: 100%;
  background-color: #1f1f1f;
  border-radius: 10px;
  padding-bottom: 1rem;
  margin-bottom: 2rem;
}

.sub-cards .cards {
  display: flex;
  padding: 0 1rem 0 1rem;
  justify-content: space-between;
  margin-bottom: 1rem;
  margin-top: 1rem;
  align-items: center;
}

.sub-cards .cards .credits {
  display: flex;
  flex-direction: column;
  line-height: 0.9rem;
  gap: 0.5rem;
  margin-top: 0.25rem;
}

.cards button {
  border: 1px solid grey;
  background-color: #1f1f1f;
  width: fit-content;
  height: 2rem;
  padding: 0.1rem 1rem;
  border-radius: 100vw;
  color: white;
  opacity: 0.7;
}

.sub-cards .cards .title {
  font-weight: 500;
}

.sub-cards .cards .sub-title {
  opacity: 0.7;
  overflow: hidden;
  font-size: 0.9rem;
}

.cards button:hover {
  opacity: 1;
  border: 1px solid white;
}

.que-list {
  width: 100%;
  height: fit;
}

/* Player CSS */
#player {
  grid-column: 1/4;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.song-banner {
  width: fit-content;
  height: 100%;
  display: flex;
  align-items: center;
  gap: 15px;
}

.song-banner img {
  width: 4vw;
  border-radius: 5px;
  margin-left: 10px;
}

.song-banner .title {
  font-weight: 500;
  line-height: 1.5rem;
  font-size: 0.8rem;
}

.song-banner .sub-title {
  font-weight: 600;
  font-size: 0.6rem;
  color: #b3b3b3;
}

.song-banner i {
  color: #b3b3b3;
}

.player-controls {
  display: flex;
  height: 100%;
  padding-top: 5px;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 34%;
}

.controls {
  display: flex;
  gap: 1vw;
  align-items: center;
}

.controls i {
  /* color: #b3b3b3; */
  font-size: 1.2vw;
  gap: 20px;
  cursor: pointer;
}

.controls i:hover {
  opacity: 1;
}

.controls #play,
#pause {
  color: white;
  font-size: 2vw;
}

.controls #play:hover,
#pause:hover {
  animation: fade 1s ease forwards;
  transform: scale(1.05);
}

@keyframes fade {
  from {
    color: white;
  }
  to {
    color: #ffffffcf;
  }
}

.controls #pause {
  color: white;
  display: none;
}

.add-controls {
  width: 33%;
}

.progress {
  display: flex;
  width: 100%;
  gap: 10px;
  font-size: 12px;
  align-items: center;
  height: 100%;
}

.progress input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 0.2rem;
  border-radius: 100vw;
  background: linear-gradient(
    to right,
    #1cc257 0%,
    #1cc257 var(--progress, 50%),
    grey var(--progress, 50%),
    grey 100%
  );
  cursor: pointer;
}

.progress input[type="range"]::-webkit-slider-thumb {
  appearance: none;
  height: 0.7rem;
  width: 0.7rem;
  border-radius: 50%;
  background-color: #1cc257;
}

.progress input[type="range"]::-webkit-slider-thumb:hover {
  appearance: none;
  height: 0.7rem;
  width: 0.7rem;
  border-radius: 50%;
  background-color: white;
  box-shadow: 1px 1px 2px black;
}

.add-controls {
  display: flex;
  gap: 12px;
  align-items: center;
  justify-content: flex-end;
  margin-right: 0.5rem;
}

.add-controls i {
  font-size: 1.1vw;
  color: white;
  opacity: 0.7;
}

.add-controls i:hover {
  opacity: 1;
}

.add-controls input[type="range"] {
  width: 6rem;
  -webkit-appearance: none;
  appearance: none;
  height: 0.3rem;
  border-radius: 100vw;
  background: linear-gradient(
    to right,
    white 0%,
    white var(--progress, 50%),
    grey var(--progress, 50%),
    grey 100%
  );
}

.add-controls input[type="range"]::-webkit-slider-runnable-track {
  appearance: none;
  -webkit-appearance: none;
  /* height: 0.3rem; */
  border-radius: 100vw;
  /* background-color: #1ed760; */
}

.add-controls input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  /* width: 0.7rem;
  height: 0.7rem; */
  border-radius: 50%;
  background: var(--color-play-btn);
}

.add-controls input[type="range"]::-moz-range-progress {
  background-color: white;
}

@media (max-width: 500px) {
  .search-bar,.install-app,.nav-right>a:nth-child(4){
    display: none;
  }

  #main{
    grid-template-rows: 3rem 1fr 13%;
  }

  .explore-premium{
    display: none;
  }

  #right-sidebar{
    display: none;
  }

  #main-content{
    grid-row: 2/3;
    grid-column: 1/4;
  }

  #main-content::-webkit-scrollbar{
    width: 0;
  }

  .sticky-nav{
    padding: 1rem 1.5rem;
  }

  .sticky-nav > a{
    font-size: 0.8rem;
    padding: 0.5rem;
  }

  .content{
    padding: 0.5rem 1.5rem;
  }

  .highlights p{
    font-size: 0.7rem;
  }

  #left-sidebar{
    display: none;
  }

  .songs-cards{
    padding: 2rem 0 0 1rem ;
  }

  .lower{
    flex-wrap: wrap;
    gap: 0.6rem;
  }

  .banner{
    width: 30%;
  }

  .banner img{
    width: 100%;
  }

  .banner h4{
    font-size: 0.8rem;
  }

  .banner p{
    font-size: 0.7rem;
  }

  .footer{
    outline: none;
    opacity: 0.2;
  }

  #main-content footer{
    width: 100%;
    padding: 2rem 1.5rem;
  }

  .footer-up{
    padding: 0;
  }

  .links h3{
    font-size: 0.8rem;
  }

  .links a{
    font-size: 0.7rem;
  }

  .links:nth-child(2),.links:first-child{
    display: none;
  }

  .footer-up .last{
    flex-direction: column;
    margin-right: 1rem;
    padding-bottom: 2rem;
  }

  footer .down{
    font-size: 0.6rem;
    padding: 2rem 0 0 0.2rem;
  }

  .fleft a{
    font-size: 0.6rem;
  }

  .fleft a:nth-child(2n){
    display: none;
  }

  .add-controls,.progress{
    display: none;
  }

  /* .song-banner .title,.song-banner .sub-title{
    display: none;
  } */

  #player{
    height: 45%;
    /* padding: 0 1rem; */
    width: 100%;
  }

  .player-controls,.controls{
    height: 100%;
    align-items: center;
    padding-right: 1rem;
    gap: 1rem;
    /* padding-left: 2rem; */
  }
  
  .controls i:first-child,.controls i:nth-child(6){
    display: none;
  }

  .controls #play, .controls #pause{
    font-size: 2.2rem;
    color: #1cc257;
  }

  #player .song-banner img{
    width: 2.6rem;
  }

  #player .controls .faded{
    font-size: 1.2rem;
  }



}
